$bgPrimary1: #F5F5F5;
$bgPrimary2: #F9F9F9;
$textPrimary1: #333333;
$textPrimary2: #666666;
$textPrimary3: #999999;
$bgSecondary: #FFFFFF;
$textSecondary: #FFFFFF;
$bgTertiary: #7692FF;
$textTertiary: #7692FF;

$bgBtn1: #7692FF;
$bgBtn2: #217346;
$bgInactive: #F0F0F0;
$bgPagination: #E7E7E7;
$hoverPagination: #F0F0F0;
$borders: #E7E7E7;

$textError: #ff0000;